body{
  font-family:arial, helvetica, sans-serif;
}

a.btn.btn-primary.btn-lg{
}

div.jumbotron{
  text-align:center;
}

#logo{
  max-height:40px;
  margin-right:10px;
  margin-top:-10px;
  display:inline-block;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/background.jpg) no-repeat;
  background-size:cover;
  margin-top:60px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo > .jumbotron{
  background:rgba(255,255,255,0.75);
  border-radius:20px;
  padding:40px;
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  #promo > .jumbotron{
    padding:20px;
  }
}

.dark-section{
  background:#e7f9ff;
}

.site-section{
  text-align:center;
  padding:40px;
  padding-bottom:60px;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
}

#welcome p{
  font-size:20px;
  max-width:800px;
  margin:auto;
  color:#555;
}

.item{
  margin-top:30px;
}

.item i{
  font-size:40px;
  color:rgb(240,92,152);
}

.item h2{
  font-weight:normal;
  font-size:30px;
  margin:20px auto;
}

.item p{
  color:rgb(89,98,101);
}

.navbar-inverse .navbar-nav > .active > a{
  color:#333333;
  background:rgb(254,247,149);
}

footer{
  background:#2a2a2a;
  padding:40px 0;
  color:#ccc;
}

.footer-col{
  font-weight:normal;
  margin-top:40px;
}

.footer-col > *{
  margin-top:20px;
}

.footer-col i{
  display:inline-block;
  margin-right:10px;
}

#social i{
  font-size:30px;
  margin-right:10px;
}

