body{
  font-family:arial, helvetica, sans-serif;
}

body{
  font-family:arial, helvetica, sans-serif;
}

a.btn.btn-primary.btn-lg{
}

div.jumbotron{
  text-align:center;
}

#logo{
  max-height:40px;
  margin-right:10px;
  margin-top:-10px;
  display:inline-block;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/background.jpg) no-repeat;
  background-size:cover;
  margin-top:60px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

#promo > .jumbotron{
  background:rgba(255,255,255,0.75);
  border-radius:20px;
  padding:40px;
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  #promo > .jumbotron{
    padding:20px;
  }
}

.dark-section{
  background:#e7f9ff;
}

.site-section{
  text-align:center;
  padding:40px;
  padding-bottom:60px;
}

.site-section h1{
  font-weight:normal;
  margin-bottom:30px;
}

#welcome p{
  font-size:20px;
  max-width:800px;
  margin:auto;
  color:#555;
}

.item{
  margin-top:30px;
}

.item i{
  font-size:40px;
  color:rgb(240,92,152);
}

.item h2{
  font-weight:normal;
  font-size:30px;
  margin:20px auto;
}

.item p{
  color:rgb(89,98,101);
}

.navbar-inverse .navbar-nav > .active > a{
  color:#ee4e90;
  font-weight:600;
  border:none;
}

footer{
  background:#2a2a2a;
  padding:40px 0;
  color:#ccc;
}

.footer-col{
  font-weight:normal;
  margin-top:40px;
}

.footer-col > *{
  margin-top:20px;
}

.footer-col i{
  display:inline-block;
  margin-right:10px;
}

#social i{
  font-size:30px;
  margin-right:10px;
}

div.about_cover{
  background:url(../../assets/img/about_main.jpg) 0 100px no-repeat;
  height:50vh;
  background-size:cover;
  margin-top:65px;
  background-position:center;
}

#cover_text{
}

#cover-head{
  color:white;
  margin-top:23vh;
}

div.container.about_cover_container{
  height:100%;
  background:rgba(21,21,21,0.66);
  width:100%;
}

#identity{
  margin-top:50px;
}

#profpiccol{
}

p#profession{
  color:#696969;
  letter-spacing:1px;
  font-size:12px;
}

#profpic{
  float:left;
}

@media (max-width:767px) {
  div#line{
    width:50px;
    margin-bottom:1em;
    height:2px;
    background:#ee4e90;
    margin-left:auto;
    margin-right:auto;
  }
}

div#line{
  width:50px;
  margin-bottom:1em;
  height:2px;
  background:#ee4e90;
}

.topmar{
  margin-top:2em;
}

.topmar p{
  font:15px/1.6 lora;
  color:#696969;
}

@media (min-width:767px) {
  #profhead h3, #profhead p{
    text-align:left;
  }
}

div.quote{
  border-left:2px solid #ee4e90;
  background:rgba(115,193,223,0.1);
  padding:2em;
}

.quote p{
  color:#8b8f91;
}

.topshow{
  margin-top:65px;
}

div#line.mx-auto{
  margin-left:auto;
  margin-right:auto;
}

